@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
:root {
  --primary: rgb(2, 20, 65);
  --white: #f7f7f7;
  --link-yellow: rgb(189, 149, 28);
  --gold: rgb(255, 177, 0);
  --red: rgb(171, 29, 42);
  --red2: rgb(172, 56, 66);
  --green: #3f522d; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

svg {
  height: 3rem;
  width: 3rem;
  fill: var(--primary); }

ul {
  list-style-type: none; }

.container {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 13.3rem repeat(8, min-content);
  grid-template-columns: minmax(0, 1fr) repeat(8, minmax(min-content, 11.2%)) minmax(0, 1fr);
  grid-template-areas: "head head head head head head head head head head" "about about about about about about about about about about" ". feature feature feature feature feature feature feature feature ." ". dav dav dav dav dav dav dav . ." ". . vol vol vol vol vol vol . ." "gall gall gall gall gall gall gall gall gall gall" "don don don don don don don don don don" "foot foot foot foot foot foot foot foot foot foot"; }
  @media only screen and (max-width: 46.875em) {
    .container {
      grid-template-areas: "head head head head head head head head head head" "about about about about about about about about about about" ". feature feature feature feature feature feature feature feature ." "dav dav dav dav dav dav dav dav dav dav" ". . vol vol vol vol vol vol . ." "gall gall gall gall gall gall gall gall gall gall" "don don don don don don don don don don" "foot foot foot foot foot foot foot foot foot foot"; } }

.main-container {
  grid-area: main;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(6, min-content);
  grid-template-columns: minmax(0, 1fr) repeat(8, minmax(min-content, 11.2%)) minmax(0, 1fr);
  grid-template-areas: ". about about about about about about about about ." ". feature feature feature feature feature feature feature feature ." ". dav dav dav dav dav dav dav . ." ". . vol vol vol vol vol vol . ." "gall gall gall gall gall gall gall gall gall gall" "don don don don don don don don don don"; }

html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%;
  color: var(--primary-text); }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 87.5%; } }

body {
  font-family: "Lato", sans-serif;
  background-color: #eee; }

h2, h3, h4, h5 {
  color: var(--primary); }

h1 {
  font-size: 3.2rem;
  font-weight: 400;
  align-self: center;
  padding-left: 1em;
  padding-top: 13%;
  padding-bottom: 4rem;
  color: var(--white); }
  @media only screen and (max-width: 46.875em) {
    h1 {
      padding-top: 10%;
      font-size: 2.4rem; } }

h2 {
  font-size: 3.0rem; }

h3 {
  font-size: 2.4rem;
  text-decoration: underline;
  padding-top: 3.5rem; }

h4 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

p {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400; }

.link {
  color: var(--red); }

.caveat {
  font-family: 'Caveat', cursive;
  color: var(--primary); }

.header {
  grid-area: head;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }

.logo-img {
  padding-left: 3rem; }

.nav {
  width: 80%; }
  .nav__list {
    width: 100%;
    height: 100%;
    padding-bottom: 2.5em;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: end center; }
    @media only screen and (max-width: 46.875em) {
      .nav__list {
        display: block;
        transform: translateX(100%);
        transition: transform .8s;
        z-index: 200;
        background-color: var(--primary);
        opacity: .93;
        height: 38rem;
        margin-top: -.5rem;
        width: 100%;
        position: absolute;
        top: 100%;
        right: 0;
        padding-top: 7rem;
        -webkit-clip-path: polygon(55% 0%, 100% 0%, 100% 100%, 36% 100%);
        clip-path: polygon(55% 0%, 100% 0%, 100% 100%, 36% 100%); } }
  .nav__link:link, .nav__link:visited {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: .015rem;
    line-height: 1.2;
    font-size: 1.4rem;
    font-weight: 300; }
    @media only screen and (max-width: 46.875em) {
      .nav__link:link, .nav__link:visited {
        padding-top: 1.5rem;
        font-size: 1.8rem; } }
  .nav__link:hover {
    color: var(--gold);
    transform: scale(1.1);
    transition: all .2s;
    cursor: pointer; }
  .nav__link-donate:hover {
    transform: scale(1.1);
    transition: all .4s;
    cursor: pointer; }

.button__donate {
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  padding: .75em 1.5em;
  letter-spacing: .05rem;
  transition: all 0.3s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 12%;
  top: 12%; }
  @media only screen and (max-width: 46.875em) {
    .button__donate {
      right: 15%;
      top: 55%; } }
  @media only screen and (max-width: 37.5em) {
    .button__donate {
      right: 20%; } }
  .button__donate a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 300; }

.fa-heart {
  display: inline-block;
  margin-right: .7em;
  color: white;
  font-size: 1.4rem; }

#fb i {
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  color: white;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.25rem; }
  @media only screen and (max-width: 46.875em) {
    #fb i {
      padding-right: 2rem; } }

#fb i:hover {
  color: var(--gold);
  transform: scale(1.15);
  transition: all .4s; }

.phone-nav__icon {
  display: none; }
  @media only screen and (max-width: 46.875em) {
    .phone-nav__icon {
      display: block;
      width: 4rem;
      height: 2px;
      border-radius: 0;
      background-color: var(--white);
      position: absolute;
      right: 6%;
      top: 67%; } }
  .phone-nav__icon::before, .phone-nav__icon::after {
    background-color: var(--white);
    height: 2px;
    width: 4rem;
    content: "";
    display: block; }
  .phone-nav__icon::before {
    transform: translateY(-1.3rem); }
  .phone-nav__icon::after {
    transform: translateY(1.1rem); }
  .phone-nav__icon:hover {
    transform: scale(1.2);
    transition: all .2s; }

.phone-nav__close {
  display: block;
  transition: all 1s;
  transform: translateX(1000%);
  z-index: 200;
  position: absolute;
  top: 15rem;
  right: 10rem;
  font-size: 3.1rem;
  font-weight: 100;
  color: var(--white);
  background-color: transparent;
  opacity: .93;
  border: none;
  padding: 1rem;
  border-radius: 5px; }
  .phone-nav__close:hover {
    color: var(--gold);
    background-color: var(--primary); }

.nav-about {
  grid-column: 1 / 3;
  grid-row: 2 / 3; }
  @media only screen and (max-width: 46.875em) {
    .nav-about {
      position: absolute;
      top: 15%;
      left: 63%; } }

.nav-finds {
  grid-column: 3 / 5;
  grid-row: 2 / 3; }
  @media only screen and (max-width: 46.875em) {
    .nav-finds {
      position: absolute;
      top: 25%;
      left: 63%; } }

.nav-gallery {
  grid-column: 5 / 7;
  grid-row: 2 / 3; }
  @media only screen and (max-width: 46.875em) {
    .nav-gallery {
      position: absolute;
      top: 35%;
      left: 63%; } }

.nav-vol {
  grid-column: 4 / 6;
  grid-row: 3 / 4; }
  @media only screen and (max-width: 46.875em) {
    .nav-vol {
      position: absolute;
      top: 45%;
      left: 63%; } }

.nav-vet {
  grid-column: 2 / 4;
  grid-row: 3 / 4; }
  @media only screen and (max-width: 46.875em) {
    .nav-vet {
      position: absolute;
      top: 55%;
      left: 63%; } }

.nav-dav-site {
  grid-column: 6 / 8;
  grid-row: 3 / 4; }
  @media only screen and (max-width: 46.875em) {
    .nav-dav-site {
      position: absolute;
      top: 65%;
      left: 63%; } }

.nav-fb {
  grid-column: 8 / 9;
  grid-row: 3 / 4;
  place-self: center center; }
  @media only screen and (max-width: 46.875em) {
    .nav-fb {
      position: absolute;
      top: 75%;
      left: 68%; } }

#dav {
  scroll-margin-top: 6rem; }

.dav {
  grid-area: dav;
  width: 100%;
  color: var(--white);
  padding-bottom: 7.5rem;
  padding-left: 4.7rem;
  margin-top: 7rem;
  background: linear-gradient(to top right, rgba(2, 14, 48, 0.95), rgba(3, 19, 60, 0.85)), url("https://cdn.pixabay.com/photo/2016/11/07/23/46/veteran-1807121__340.jpg") no-repeat;
  background-size: cover;
  background-position: -25% 25%;
  -webkit-clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(17% 0, 100% 0, 100% 100%, 0 100%);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  position: relative; }
  @media only screen and (max-width: 75em) {
    .dav {
      padding-bottom: 3.5rem; } }
  @media only screen and (max-width: 46.875em) {
    .dav {
      -webkit-clip-path: none;
      clip-path: none;
      padding-bottom: 0;
      padding-left: 0;
      margin-top: 5rem; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 31.25em) {
    .dav {
      background-position: 0 0; } }
  .dav__info {
    width: 70%;
    height: auto;
    margin: 0 auto;
    line-height: 1.5;
    letter-spacing: .07rem;
    color: var(--white); }
    @media only screen and (max-width: 75em) {
      .dav__info {
        width: 80%; } }
    @media only screen and (max-width: 46.875em) {
      .dav__info {
        width: 70%; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 31.25em) {
      .dav__info {
        width: 80%;
        padding-bottom: 5rem; } }
  .dav__link:link, .dav__link:visited {
    color: var(--gold);
    text-decoration: none; }
  .dav__link:hover {
    transform: scale(1.2);
    transition: all .2s; }
  .dav__shape {
    height: 30rem;
    width: 15rem;
    position: relative;
    float: left;
    clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
    shape-outside: polygon(0 0, 100% 0, 0 100%, 0 100%); }
    @media only screen and (max-width: 75em) {
      .dav__shape {
        height: 35rem;
        width: 12.5rem; } }
    @media only screen and (max-width: 56.25em) {
      .dav__shape {
        height: 35rem;
        width: 10rem; } }
    @media only screen and (max-width: 46.875em) {
      .dav__shape {
        height: 35rem;
        width: 15rem; } }
    @media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 31.25em) {
      .dav__shape {
        height: 0;
        width: 0; } }

#about {
  scroll-margin-top: 13rem; }

.about {
  grid-area: about;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  width: 100%;
  overflow: hidden; }

.about-us {
  color: var(--primary);
  width: 100%;
  display: grid;
  grid-template-columns: 40% 5% 5% 5% 5% 40%;
  grid-template-rows: 1fr; }
  @media only screen and (max-width: 46.875em) {
    .about-us {
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr; } }
  .about-us__store-front {
    grid-column: 1 / 5;
    grid-row: 1 / -1;
    width: 100%;
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 46.875em) {
      .about-us__store-front {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        height: 40rem; } }
  .about-us__location {
    grid-column: 2 / 7;
    grid-row: 1 / -1;
    z-index: 2;
    width: 100%;
    margin-bottom: -1px;
    padding-bottom: 3em;
    background-color: var(--gold);
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%); }
    @media only screen and (max-width: 46.875em) {
      .about-us__location {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        margin-top: -3rem;
        z-index: -1;
        -webkit-clip-path: none;
        clip-path: none; } }

.store-front picture img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%; }
  @media only screen and (max-width: 46.875em) {
    .store-front picture img {
      height: 37.5rem; } }

.store-front__address {
  font-size: 3.4rem;
  position: absolute;
  max-width: 28rem;
  left: 25%;
  bottom: 4%; }
  @media only screen and (max-width: 56.25em) {
    .store-front__address {
      font-size: 3rem; } }
  @media only screen and (max-width: 46.875em) {
    .store-front__address {
      font-size: 3.5rem;
      max-width: 100%;
      left: 20%;
      bottom: 8%;
      font-weight: 700; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 31.25em) {
    .store-front__address {
      left: 10%;
      font-size: 3rem; } }

.store-front__phone:link, .store-front__phone:visited {
  text-shadow: 0.025rem 0.025rem var(--primary);
  color: var(--red);
  font-weight: bold;
  font-size: 2.6rem;
  position: absolute;
  top: 5%;
  left: 3%; }
  @media only screen and (max-width: 46.875em) {
    .store-front__phone:link, .store-front__phone:visited {
      font-size: 3.5rem;
      font-weight: 700; } }
  @media only screen and (max-width: 37.5em) {
    .store-front__phone:link, .store-front__phone:visited {
      font-size: 3rem; } }

.store-front__phone:hover {
  color: var(--green);
  transform: scale(1.2);
  transition: all .2s; }

.store-front__hours {
  letter-spacing: .05rem;
  position: absolute;
  top: 5%;
  right: 15%; }
  @media only screen and (max-width: 46.875em) {
    .store-front__hours {
      top: 5%;
      right: 6%; } }
  .store-front__hours--store {
    font-size: 2.4rem;
    color: var(--primary); }
    @media only screen and (max-width: 46.875em) {
      .store-front__hours--store {
        font-size: 3.0rem; } }
    @media only screen and (max-width: 37.5em) {
      .store-front__hours--store {
        font-size: 2.5rem; } }
  .store-front__hours--days {
    padding-left: 3rem;
    color: var(--primary); }
    @media only screen and (max-width: 46.875em) {
      .store-front__hours--days {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .store-front__hours--days {
        font-size: 2.1rem; } }
  .store-front__hours--closed {
    padding-left: 3rem;
    color: var(--primary); }
    @media only screen and (max-width: 46.875em) {
      .store-front__hours--closed {
        font-size: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .store-front__hours--closed {
        font-size: 1.7rem; } }

.location__map {
  margin-top: 3rem;
  width: 67.5%;
  height: 40%;
  margin-left: auto;
  margin-right: 3rem;
  border-radius: .5em;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  padding-top: 24%; }
  @media only screen and (max-width: 46.875em) {
    .location__map {
      margin: 4rem auto; } }
  .location__map--google {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.location__info {
  max-width: 96%;
  margin-top: 3.5rem;
  margin-left: auto;
  padding-right: 3rem;
  letter-spacing: .02rem;
  font-weight: 400;
  padding: 0 3em; }
  @media only screen and (max-width: 56.25em) {
    .location__info {
      padding: 0 1.5em; } }
  @media only screen and (max-width: 46.875em) {
    .location__info {
      padding-right: 6em; } }
  .location__info--shape {
    height: 15rem;
    width: 8rem;
    position: relative;
    float: left;
    -webkit-clip-path: polygon(0 0, 88% 0%, 0 100%, 0% 100%);
    clip-path: polygon(0 0, 88% 0%, 0 100%, 0% 100%);
    shape-outside: polygon(0 0, 88% 0%, 0 100%, 0% 100%); }
    @media only screen and (max-width: 56.25em) {
      .location__info--shape {
        height: 17rem;
        width: 9rem; } }
    @media only screen and (max-width: 37.5em) {
      .location__info--shape {
        height: 0;
        width: 0; } }
  .location__info--position {
    margin-top: 1.8rem; }

.buddy-holly {
  display: inline-block;
  margin-left: -1.1rem;
  font-size: 2.8rem;
  padding-right: 1rem; }

.nav-exp {
  grid-column: 1 / 6;
  grid-row: 1 / -1;
  height: 100%;
  position: relative;
  z-index: 100;
  opacity: .93;
  transition: all .8s;
  background-color: var(--red);
  -webkit-clip-path: polygon(0 0, 91.8% 0, 67% 100%, 0 100%);
  clip-path: polygon(0 0, 91.8% 0, 67% 100%, 0 100%); }
  @media only screen and (max-width: 46.875em) {
    .nav-exp {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      height: 38rem;
      margin-top: -.5rem;
      -webkit-clip-path: polygon(0 0, 55% 0, 36% 100%, 0 100%);
      clip-path: polygon(0 0, 55% 0, 36% 100%, 0 100%); } }
  .nav-exp__close {
    font-size: 3.4rem;
    color: var(--primary);
    background-color: var(--red);
    border: none;
    padding: 1rem;
    border-radius: 5px;
    position: absolute;
    top: 1.5rem;
    right: 15rem; }
    @media only screen and (max-width: 46.875em) {
      .nav-exp__close {
        left: 43%; } }
    .nav-exp__close:hover {
      color: var(--gold);
      background-color: var(--red2); }
  .nav-exp__list {
    color: var(--primary);
    font-weight: 400;
    margin-top: 4rem;
    letter-spacing: .05;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr; }
    @media only screen and (max-width: 46.875em) {
      .nav-exp__list {
        display: block;
        max-width: 34%;
        margin-left: 5rem;
        margin-top: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .nav-exp__list {
        margin-left: 1rem;
        margin-top: 1rem; } }
  .nav-exp__item-1 {
    grid-column: 2 / 3; }
  .nav-exp__item-2 {
    grid-column: 2 / 3; }
  .nav-exp__item-3 {
    grid-column: 2 / 3; }
  .nav-exp__item-4 {
    grid-column: 2 / 3; }
  .nav-exp__contact {
    padding-bottom: 1.3rem;
    font-weight: 400; }
    @media only screen and (max-width: 37.5em) {
      .nav-exp__contact {
        padding-bottom: 1rem; } }
  .nav-exp__name {
    font-size: 1.7rem;
    margin-left: -3rem; }
    @media only screen and (max-width: 46.875em) {
      .nav-exp__name {
        font-size: 1.5rem;
        margin-left: 2rem; } }
    @media only screen and (max-width: 46.875em) {
      .nav-exp__name {
        font-size: 1.1rem;
        margin-left: 2rem; } }
  .nav-exp__link:link, .nav-exp__link:visited {
    color: var(--primary);
    font-weight: 300;
    font-size: 1.6; }
  .nav-exp__link:hover {
    color: var(--gold);
    transform: scale(1.2);
    transition: all .2s; }
  .nav-exp__address {
    font-size: 1.5rem; }

.nav-exp__hide {
  opacity: 0;
  z-index: -100;
  transform: translateX(-110%);
  transition: all .6s; }

#features {
  scroll-margin-top: 10rem; }

.features {
  grid-area: feature;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .features {
      margin-top: 7rem; } }
  .features__info {
    grid-column: 1 / -1; }
    .features__info h2 {
      text-align: center;
      margin-bottom: 1rem; }
    .features__info p {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      color: var(--primary);
      padding-bottom: 1rem; }
  .features__more {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: .07; }

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 6rem min-content;
  grid-template-areas: "svg head" ". text"; }
  .feature svg {
    grid-area: svg;
    transform: translateY(1rem); }
  .feature__heading {
    grid-area: head;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
    justify-self: start;
    align-self: center; }
  .feature__text {
    grid-area: text;
    padding: 0 1em; }

.feature::after {
  content: "";
  height: 100%;
  width: 1px;
  background-color: var(--gold);
  margin-left: 2.5rem; }

#volunteer {
  scroll-margin-top: 8rem; }

.volunteer {
  grid-area: vol;
  margin: 8em 0;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 46.875em) {
    .volunteer {
      margin: 6.5em 0; } }

.volunteer__info {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .volunteer__info {
      flex-direction: column; } }

.volunteer__info p {
  width: 50%;
  padding: 3em 4em 0 4em; }
  @media only screen and (max-width: 56.25em) {
    .volunteer__info p {
      width: 100%;
      padding: 2.5em 2em 0 2em; } }

#gallery {
  scroll-margin-top: 8rem; }

.gallery {
  grid-area: gall;
  background-color: var(--gold);
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 5vw);
  grid-gap: .75rem;
  padding: 1.5rem; }
  .gallery__item--1 {
    grid-column: 1 / 2;
    grid-row: 2 / 4; }
  .gallery__item--2 {
    grid-column: 9 / 10;
    grid-row: 2 / 5; }
  .gallery__item--3 {
    grid-column: 2 / 4;
    grid-row: 1 / 3; }
  .gallery__item--4 {
    grid-column: 3 / 5;
    grid-row: 3 / 5; }
  .gallery__item--5 {
    grid-column: 1 / 2;
    grid-row: 5 / 7; }
  .gallery__item--6 {
    grid-column: 4 / 5;
    grid-row: 1 / 3; }
  .gallery__item--7 {
    grid-column: 3 / 4;
    grid-row: 5 / 7; }
  .gallery__item--8 {
    grid-column: 5 / 7;
    grid-row: 4 / 6; }
  .gallery__item--9 {
    grid-column: 2 / 3;
    grid-row: 4 / 7; }
  .gallery__item--10 {
    grid-column: 5 / 6;
    grid-row: 1 / 4; }
  .gallery__item--11 {
    grid-column: 1 / 2;
    grid-row: 4 / 5; }
  .gallery__item--12 {
    grid-column: 8 / 10;
    grid-row: 5 / 7; }
  .gallery__item--13 {
    grid-column: 6 / 8;
    grid-row: 1 / 3; }
  .gallery__item--14 {
    grid-column: 4 / 5;
    grid-row: 5 / 7; }
  .gallery__item--15 {
    grid-column: 6 / 8;
    grid-row: 6 / 7; }
  .gallery__item--16 {
    grid-column: 7 / 9;
    grid-row: 3 / 5; }
  .gallery__item--17 {
    grid-column: 8 / 9;
    grid-row: 1 / 3; }
  .gallery__item--18 {
    grid-column: 6 / 7;
    grid-row: 3 / 4; }
  .gallery__item--19 {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .gallery__item--20 {
    grid-column: 2 / 3;
    grid-row: 3 / 4; }
  .gallery__item--21 {
    grid-column: 9 / 10;
    grid-row: 1 / 2; }
  .gallery__item--22 {
    grid-column: 7 / 8;
    grid-row: 5 / 6; }
  .gallery__item--23 {
    grid-column: 5 / 6;
    grid-row: 6 / 7; }
  .gallery__item--24 {
    grid-column: 5 / 6;
    grid-row: 6 / 7; }
  .gallery__item--25 {
    grid-column: 5 / 6;
    grid-row: 6 / 7; }
  .gallery__img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%; }

#donations {
  scroll-margin-top: 8rem; }

.donations {
  grid-area: don;
  width: 100%;
  margin-top: 9em;
  display: grid;
  grid-gap: 4rem;
  justify-items: center;
  padding-bottom: 9rem; }
  .donations__title {
    margin-right: .7em; }

.donations p {
  max-width: 60%;
  text-align: center;
  line-height: 1.2;
  letter-spacing: .05rem; }
  @media only screen and (max-width: 56.25em) {
    .donations p {
      max-width: 80%; } }

.donation__info {
  justify-self: stretch;
  padding: 0 8rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 31.25em) {
    .donation__info {
      padding: 0 3rem; } }

.donation__list {
  padding-left: 3rem;
  max-width: 33%;
  font-size: 1.5rem;
  font-weight: 400; }

.irs-info {
  width: 66%; }

.footer {
  grid-area: foot;
  background-color: var(--primary); }

.footer-nav {
  list-style-type: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas: ". . contact contact . finds finds . about about . ." " . . . vol vol . . fb fb . . .";
  place-items: center;
  padding: 2rem 5rem; }
  @media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 31.25em) {
    .footer-nav {
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: ". . contact contact contact .  . finds finds finds . ." ". . about about about . . vol vol vol . ." " . . . . fb fb fb . . . . ."; } }
  .footer-nav__item--1 {
    grid-area: contact;
    align-self: end; }
    @media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 31.25em) {
      .footer-nav__item--1 {
        place-self: start; } }
  .footer-nav__item--2 {
    grid-area: finds;
    align-self: end; }
    @media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 31.25em) {
      .footer-nav__item--2 {
        place-self: start; } }
  .footer-nav__item--3 {
    grid-area: about;
    align-self: end; }
    @media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 31.25em) {
      .footer-nav__item--3 {
        place-self: start; } }
  .footer-nav__item--4 {
    grid-area: vol;
    place-self: end; }
    @media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 31.25em) {
      .footer-nav__item--4 {
        place-self: start; } }
  .footer-nav__item--5 {
    grid-area: fb; }
    @media only screen and (-webkit-min-device-pixel-ratio: 0) and (max-width: 31.25em) {
      .footer-nav__item--5 {
        place-self: center; } }
  .footer-nav__link:link, .footer-nav__link:visited {
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem 0;
    display: block;
    transition: all .2s; }
  .footer-nav__link:hover, .footer-nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }
  .footer-nav__fb {
    padding-left: 1rem; }
